type dmabuf_cma_heap_device, dmabuf_heap_device_type, dev_type;

gpu_access(hal_graphics_allocator_default)

allow hal_graphics_allocator_default dmabuf_system_heap_device:chr_file r_file_perms;
allow hal_graphics_allocator_default dmabuf_cma_heap_device:chr_file r_file_perms;
allow hal_graphics_allocator_default dri_device:dir getattr;
allow hal_graphics_allocator_default gpu_device:dir search;
allow hal_graphics_allocator_default gpu_device:chr_file { open read write ioctl map rw_file_perms};
