on post-fs
    restorecon_recursive /mnt/vendor/persist/

on late-fs
    exec_start wait_for_keymaster_optee
    mount_all /vendor/etc/fstab.${ro.hardware} --late

service tee-supplicant /vendor/bin/tee-supplicant
    class early_hal
    user root
    oneshot
