modalias_handling enabled

/dev/dma_heap/reserved      0666   system     graphics

# for android sync framework
/dev/pvr_sync             0666   system     graphics
# gpu
/dev/dri/card0 0660 system graphics
/dev/dri/card1 0660 system graphics
/dev/dri/card2 0660 system graphics
/dev/dri/renderD128 0666 system graphics

# optee
/dev/tee0      0660  system  system
/dev/teepriv0  0660  system  system

# multimedia: codec2
/dev/video0               0660   media      media
/dev/video1               0660   media      media

# camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/video4               0660   system     camera
/dev/video5               0660   system     camera
/dev/video6               0660   system     camera
/dev/video7               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera

# Storage: for factory reset protection feature
/dev/block/by-name/frp   0660   system     system