type hal_camera_service, domain;
hal_server_domain(hal_camera_service, hal_camera)
hal_client_domain(hal_camera_service, hal_graphics_allocator)

type hal_camera_service_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_camera_service)

hal_client_domain(hal_camera_service, hal_allocator)

vndbinder_use(hal_camera_service);

allow hal_camera_service sysfs:dir { open read };
allow hal_camera_service sysfs:file { getattr open read };

allow hal_camera_service kmsg_debug_device:chr_file write;

allow hal_camera_service video_device:chr_file rw_file_perms;
allow hal_camera_service graphics_device:chr_file rw_file_perms;
allow hal_camera_service gpu_device:chr_file rw_file_perms;

allow hal_camera_service hal_graphics_mapper_hwservice:hwservice_manager find;

