vendor_internal_prop(vendor_keymaster_tee_prop)

allow hal_keymaster_default property_socket:sock_file write;
allow hal_keymaster_default init:unix_stream_socket connectto;

set_prop(hal_keymaster_default, vendor_keymaster_tee_prop)
