gpu_access(system_server)
allow system_server sysfs:dir { read open }; 
allow system_server wifi_hal_prop:file {open read getattr map};
dontaudit system_server  sysfs:file { read open };
# Can be removed once https://android-review.googlesource.com/c/platform/system/sepolicy/*/2636345 is in system/sepolicy
allow system_server cgroup:dir create_dir_perms;
# Can be removed once https://android-review.googlesource.com/c/platform/system/sepolicy/*/2689227 is in system/sepolicy
allow system_server cgroup:file setattr;
