allow ueventd self:key write;
allow ueventd vendor_debugfs_pvr:dir search;

recovery_only(`
    allow ueventd self:capability {sys_module sys_nice};
');
