userdebug_or_eng(`
    allow untrusted_app_27 update_engine:binder { call transfer };
    allow untrusted_app_27 update_engine_service:service_manager find;
')
