vendor_internal_prop(vendor_cf_graphics_config_prop)

allow vendor_init self:capability sys_module;
allow vendor_init vendor_file:system { module_load };
allow vendor_init vendor_init:key write;

allow vendor_init proc_dirty:file write;
allow vendor_init proc_sched:file write;
allow vendor_init system_prop:file read;

dontaudit vendor_init vendor_debugfs_pvr:file setattr;

recovery_only(`
	allow vendor_init rootfs:dir { read };
	allow vendor_init rootfs:system { module_load };
');

set_prop(vendor_init, vendor_cf_graphics_config_prop)
